.container {
  height: 20px;
  background-color: grey;
  border-radius: 20px;
}

.fill {
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  height: 100%;
}

.fill-red {
  background-color: red;
}

.fill-orange {
  background-color: orange;
}

.fill-blue {
  background-color: blue;
}

.fill-green {
  background-color: green;
}
